﻿
@using InvoiceApp.Web.Startup
@model InvoiceApp.Web.Models.Invoice.InvoiceModel
@{
    ViewBag.CurrentPageName = PageNames.Invoice; // The menu item will be active for this page.
}
@section styles
    {

    <link href="~/css/DateTimePicker.css" rel="stylesheet" />
    <link href=" https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .selected {
            text-align: center !important;
        }
        .card .body .col-xs-4, .card .body .col-sm-4, .card .body .col-md-4, .card .body .col-lg-4 {
            margin-bottom: 0px !important;
        }
    </style>


}


@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Invoice/Invoice.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Invoice/Invoice.min.js" asp-append-version="true"></script>
    </environment>
}
<form name="InvoiceCreateForm" id="InvoiceCreateForm" role="form" novalidate class="form-validation">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                
                <div class="body table-responsive">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Invoice No</label>
                                    <input id="InvoiceNo" name="InvoiceNo" type="text" class="form-control" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Invoice Date</label>
                                    <input id="InvoiceDate" name="InvoiceDate" type="text" class="datepicker form-control" placeholder="Please choose a date..." required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <b>Store</b>
                            </p>
                            <select class="form-control show-tick" id="StoreId" required name="StoreId" data-live-search="true">
                                <option></option>
                                @foreach (var store in Model.StoreDropLists)
                                {
                                    <option value="@store.Id">@store.Text</option>
                                }


                            </select>
                        </div>


                    </div>
                    <button id="btnAdd" type="button" class="btn btn-primary pull-left">
                        <i class="material-icons">add</i>Add Item
                    </button>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped table-bordered" id="tbInvoice" style="width: 100%">
                                <thead>

                                <tr>

                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                    <th>Discount</th>
                                    <th>Net</th>

                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 pull-right">
                            <div class="col-lg-6">Total</div>
                            <div class="col-lg-6"><input name="InvoiceTotal" id="InvoiceTotal" class="form-control" disabled="disabled" required="" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 pull-right">
                            <div class="col-lg-6">Taxes</div>
                            <div class="col-lg-6"><input name="InvoiceTaxes" id="InvoiceTaxes" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 pull-right">
                            <div class="col-lg-6">Net</div>
                            <div class="col-lg-6"><input name="InvoiceNet" id="InvoiceNet" class="form-control" disabled="disabled" required=""/></div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <button type="button" id="btnDeleteAll" class="btn btn-danger waves-effect"  >@L("Delete")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</form>
 

